/* font-family: 'Inter', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Shadows Into Light', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Lobster&family=Manrope:wght@500&family=Pacifico&family=Poppins:wght@400;600&family=Roboto:wght@700;900&family=Shadows+Into+Light&display=swap");

#home h1 {
  font-family: "Shadows Into Light", cursive;
  font-size: 4rem;
}
.carousel-item img {
  height: 75vh;
}
/* .modify-carousel {
  box-shadow: 10px 10px 40px rgb(133, 128, 128);
} */
.nav-link {
  font-weight: bold;
}
/* .left-img img {
  height: 550px;
} */
.about-img img {
  height: 60%;
  width: 90%;
}
.about-img p a {
  text-decoration: none;
}
.number {
  font-family: "Pacifico", cursive;
  font-size: 3rem;
}
.all-header {
  font-family: "Lobster", cursive;
}
